openapi: 3.1.0
info:
  title: Particle Health Authentication Patients API
  description: Particle Health is a healthcare data interoperability API that aggregates patient medical records from US health information exchanges (Carequality, CommonWell, eHealth Exchange), TEFCA / QHIN partners, state HIEs, and Surescripts. The API surfaces patient registration, asynchronous query orchestration, batch processing, document handling, network participant directory search, patient provider mapping, and real-time Signal alerting. Clinical data is returned in FHIR R4 Bundles, C-CDA documents, Flat datasets, or Deltas (incremental changes). Authentication uses OAuth 2 client-credentials with JWT bearer tokens scoped to a project.
  version: v1
  contact:
    name: Particle Health Support
    email: support@particlehealth.com
    url: https://particlehealth.com/contact
  license:
    name: Particle Health Terms of Service
    url: https://particlehealth.com/
servers:
- url: https://api.particlehealth.com
  description: Particle Health Production
security:
- bearerAuth: []
tags:
- name: Patients
  description: Patient demographic registration and lookup.
paths:
  /api/v2/patients:
    get:
      operationId: listPatients
      summary: List Patients
      description: List patients registered under the current project.
      tags:
      - Patients
      responses:
        '200':
          description: Patient list
    post:
      operationId: submitPatient
      summary: Submit Patient
      description: Register a patient's demographics and obtain a unique Particle Patient ID (PPID).
      tags:
      - Patients
      responses:
        '201':
          description: Patient created
  /api/v2/patients/{id}:
    get:
      operationId: getPatient
      summary: Get Patient
      tags:
      - Patients
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Patient resource
    delete:
      operationId: deletePatient
      summary: Delete Patient
      tags:
      - Patients
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '204':
          description: Patient deleted
  /api/v2/patients/search:
    post:
      operationId: searchPatient
      summary: Search Patient
      description: Search for patients by demographic identifiers.
      tags:
      - Patients
      responses:
        '200':
          description: Patient search results
  /r4/Patient:
    post:
      operationId: createFhirPatient
      summary: Create FHIR Patient
      description: Creates a FHIR R4 Patient resource.
      tags:
      - Patients
      responses:
        '201':
          description: FHIR Patient created
components:
  parameters:
    idParam:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2 client-credentials JWT issued by `/auth`. Token expires after one hour.
externalDocs:
  description: Particle Health API Documentation
  url: https://docs.particlehealth.com/
