openapi: 3.2.0
info:
  title: Particle Health Network Participants API
  description: Particle Health is a healthcare data interoperability API that aggregates patient medical records from US health information exchanges (Carequality, CommonWell, eHealth Exchange), TEFCA / QHIN partners, state HIEs, and Surescripts.
  version: v1
  contact:
    name: Particle Health Support
    email: support@particlehealth.com
    url: https://particlehealth.com/contact
  license:
    name: Particle Health Terms of Service
    url: https://particlehealth.com/
servers:
- url: https://api.particlehealth.com
  description: Particle Health Production
security:
- bearerAuth: []
tags:
- name: NetworkParticipants
  description: Directory search over connected network organizations.
paths:
  /api/v1/networkparticipants:
    get:
      operationId: searchNetworkParticipants
      summary: Search Network Participants
      description: Search for healthcare organizations participating in Particle's connected networks.
      tags:
      - NetworkParticipants
      responses:
        '200':
          description: Participant list
  /api/v1/networkparticipants/state/{state}:
    get:
      operationId: searchNetworkParticipantsByState
      summary: Search Network Participants by State
      tags:
      - NetworkParticipants
      parameters:
      - name: state
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Participant list
  /api/v1/networkparticipants/zipcode/{zip}:
    get:
      operationId: searchNetworkParticipantsByZipcode
      summary: Search Network Participants by Zipcode
      tags:
      - NetworkParticipants
      parameters:
      - name: zip
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Participant list
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2 client-credentials JWT issued by `/auth`. Token expires after one hour.
externalDocs:
  description: Particle Health API Documentation
  url: https://docs.particlehealth.com/
