openapi: 3.1.0
info:
  title: Particle Health Authentication HL7v2 API
  description: Particle Health is a healthcare data interoperability API that aggregates patient medical records from US health information exchanges (Carequality, CommonWell, eHealth Exchange), TEFCA / QHIN partners, state HIEs, and Surescripts. The API surfaces patient registration, asynchronous query orchestration, batch processing, document handling, network participant directory search, patient provider mapping, and real-time Signal alerting. Clinical data is returned in FHIR R4 Bundles, C-CDA documents, Flat datasets, or Deltas (incremental changes). Authentication uses OAuth 2 client-credentials with JWT bearer tokens scoped to a project.
  version: v1
  contact:
    name: Particle Health Support
    email: support@particlehealth.com
    url: https://particlehealth.com/contact
  license:
    name: Particle Health Terms of Service
    url: https://particlehealth.com/
servers:
- url: https://api.particlehealth.com
  description: Particle Health Production
security:
- bearerAuth: []
tags:
- name: HL7v2
  description: HL7v2 ADT messages.
paths:
  /hl7v2/message/{id}:
    get:
      operationId: getHl7v2Message
      summary: Get HL7v2 Message
      description: Returns a single HL7v2 ADT message.
      tags:
      - HL7v2
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: HL7v2 message
  /hl7v2/patient/{particle_patient_id}:
    get:
      operationId: getHl7v2Messages
      summary: Get HL7v2 Messages by Patient
      tags:
      - HL7v2
      parameters:
      - $ref: '#/components/parameters/particlePatientIdParam'
      responses:
        '200':
          description: HL7v2 message list
components:
  parameters:
    idParam:
      name: id
      in: path
      required: true
      schema:
        type: string
    particlePatientIdParam:
      name: particle_patient_id
      in: path
      required: true
      description: Particle Patient ID (PPID)
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2 client-credentials JWT issued by `/auth`. Token expires after one hour.
externalDocs:
  description: Particle Health API Documentation
  url: https://docs.particlehealth.com/
