openapi: 3.1.0
info:
  title: Particle Health Authentication Projects API
  description: Particle Health is a healthcare data interoperability API that aggregates patient medical records from US health information exchanges (Carequality, CommonWell, eHealth Exchange), TEFCA / QHIN partners, state HIEs, and Surescripts. The API surfaces patient registration, asynchronous query orchestration, batch processing, document handling, network participant directory search, patient provider mapping, and real-time Signal alerting. Clinical data is returned in FHIR R4 Bundles, C-CDA documents, Flat datasets, or Deltas (incremental changes). Authentication uses OAuth 2 client-credentials with JWT bearer tokens scoped to a project.
  version: v1
  contact:
    name: Particle Health Support
    email: support@particlehealth.com
    url: https://particlehealth.com/contact
  license:
    name: Particle Health Terms of Service
    url: https://particlehealth.com/
servers:
- url: https://api.particlehealth.com
  description: Particle Health Production
security:
- bearerAuth: []
tags:
- name: Projects
  description: Project and service-account management.
paths:
  /projects:
    get:
      operationId: searchProjects
      summary: Search Projects
      description: Searches projects by simple field filter.
      tags:
      - Projects
      responses:
        '200':
          description: Project list
  /service-accounts:
    get:
      operationId: searchServiceAccounts
      summary: Search Service Accounts
      description: Searches service accounts by simple field filter.
      tags:
      - Projects
      responses:
        '200':
          description: Service account list
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2 client-credentials JWT issued by `/auth`. Token expires after one hour.
externalDocs:
  description: Particle Health API Documentation
  url: https://docs.particlehealth.com/
