openapi: 3.2.0
info:
  title: Particle Health Documents API
  description: Particle Health is a healthcare data interoperability API that aggregates patient medical records from US health information exchanges (Carequality, CommonWell, eHealth Exchange), TEFCA / QHIN partners, state HIEs, and Surescripts.
  version: v1
  contact:
    name: Particle Health Support
    email: support@particlehealth.com
    url: https://particlehealth.com/contact
  license:
    name: Particle Health Terms of Service
    url: https://particlehealth.com/
servers:
- url: https://api.particlehealth.com
  description: Particle Health Production
security:
- bearerAuth: []
tags:
- name: Documents
  description: Document upload, retrieval, and deletion.
paths:
  /api/v1/documents:
    post:
      operationId: submitDocument
      summary: Submit Document
      description: Upload a document (CCDA, discharge summary, etc.) with metadata for ingestion.
      tags:
      - Documents
      responses:
        '201':
          description: Document accepted
  /api/v1/documents/{id}:
    get:
      operationId: getDocument
      summary: Get Document
      tags:
      - Documents
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Document
    delete:
      operationId: deleteDocument
      summary: Delete Document
      tags:
      - Documents
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '204':
          description: Document deleted
  /api/v1/documents/patient/{id}:
    get:
      operationId: getPatientDocuments
      summary: Get Patient Documents
      tags:
      - Documents
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Document list
components:
  parameters:
    idParam:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2 client-credentials JWT issued by `/auth`. Token expires after one hour.
externalDocs:
  description: Particle Health API Documentation
  url: https://docs.particlehealth.com/
