openapi: 3.1.0
info:
  title: Particle Health Authentication Signal API
  description: Particle Health is a healthcare data interoperability API that aggregates patient medical records from US health information exchanges (Carequality, CommonWell, eHealth Exchange), TEFCA / QHIN partners, state HIEs, and Surescripts. The API surfaces patient registration, asynchronous query orchestration, batch processing, document handling, network participant directory search, patient provider mapping, and real-time Signal alerting. Clinical data is returned in FHIR R4 Bundles, C-CDA documents, Flat datasets, or Deltas (incremental changes). Authentication uses OAuth 2 client-credentials with JWT bearer tokens scoped to a project.
  version: v1
  contact:
    name: Particle Health Support
    email: support@particlehealth.com
    url: https://particlehealth.com/contact
  license:
    name: Particle Health Terms of Service
    url: https://particlehealth.com/
servers:
- url: https://api.particlehealth.com
  description: Particle Health Production
security:
- bearerAuth: []
tags:
- name: Signal
  description: Real-time encounter, transition, and ADT alerts.
paths:
  /api/v1/alerts/network:
    get:
      operationId: getNetworkAlerts
      summary: Get Network Alerts
      description: Retrieve network alerts generated for subscribed patients in the project.
      tags:
      - Signal
      responses:
        '200':
          description: Network alerts
  /api/v1/alerts/network/{id}:
    get:
      operationId: getNetworkAlert
      summary: Get Network Alert
      tags:
      - Signal
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Network alert
  /api/v1/patients/{id}/signals:
    get:
      operationId: getPatientSignals
      summary: Get Patient Signals
      description: Retrieve the Signal alert history for a specific patient.
      tags:
      - Signal
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Patient signal history
  /api/v1/patients/signalscohort:
    get:
      operationId: getPatientSignalsCohort
      summary: Get Patient Signals Cohort
      description: Retrieve the list of patients currently enrolled in Signal monitoring.
      tags:
      - Signal
      responses:
        '200':
          description: Signal cohort
components:
  parameters:
    idParam:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2 client-credentials JWT issued by `/auth`. Token expires after one hour.
externalDocs:
  description: Particle Health API Documentation
  url: https://docs.particlehealth.com/
