openapi: 3.2.0
info:
  title: Particle Health Notifications API
  description: Particle Health is a healthcare data interoperability API that aggregates patient medical records from US health information exchanges (Carequality, CommonWell, eHealth Exchange), TEFCA / QHIN partners, state HIEs, and Surescripts.
  version: v1
  contact:
    name: Particle Health Support
    email: support@particlehealth.com
    url: https://particlehealth.com/contact
  license:
    name: Particle Health Terms of Service
    url: https://particlehealth.com/
servers:
- url: https://api.particlehealth.com
  description: Particle Health Production
security:
- bearerAuth: []
tags:
- name: Notifications
  description: Project-level webhook notification configuration.
paths:
  /projects/{project_id}/notifications:
    get:
      operationId: listProjectNotifications
      summary: List Project Notifications
      tags:
      - Notifications
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Notification list
    post:
      operationId: createProjectNotification
      summary: Create Project Notification
      description: Creates a webhook notification under a specific project.
      tags:
      - Notifications
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Notification created
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2 client-credentials JWT issued by `/auth`. Token expires after one hour.
externalDocs:
  description: Particle Health API Documentation
  url: https://docs.particlehealth.com/
