openapi: 3.1.0
info:
  title: Particle Health Authentication Deltas API
  description: Particle Health is a healthcare data interoperability API that aggregates patient medical records from US health information exchanges (Carequality, CommonWell, eHealth Exchange), TEFCA / QHIN partners, state HIEs, and Surescripts. The API surfaces patient registration, asynchronous query orchestration, batch processing, document handling, network participant directory search, patient provider mapping, and real-time Signal alerting. Clinical data is returned in FHIR R4 Bundles, C-CDA documents, Flat datasets, or Deltas (incremental changes). Authentication uses OAuth 2 client-credentials with JWT bearer tokens scoped to a project.
  version: v1
  contact:
    name: Particle Health Support
    email: support@particlehealth.com
    url: https://particlehealth.com/contact
  license:
    name: Particle Health Terms of Service
    url: https://particlehealth.com/
servers:
- url: https://api.particlehealth.com
  description: Particle Health Production
security:
- bearerAuth: []
tags:
- name: Deltas
  description: Incremental change retrieval since a previous query.
paths:
  /deltas:
    post:
      operationId: submitDeltasQuery
      summary: Submit Deltas Query
      description: Initiates an incremental query with Purpose of Use, hints, and specialty filters.
      tags:
      - Deltas
      responses:
        '202':
          description: Deltas query accepted
  /deltas/{particle_patient_id}:
    get:
      operationId: getDeltasQueryStatus
      summary: Get Deltas Query Status
      tags:
      - Deltas
      parameters:
      - $ref: '#/components/parameters/particlePatientIdParam'
      responses:
        '200':
          description: Deltas query status
  /deltas/r4/Patient/{particle_patient_id}/$everything:
    get:
      operationId: collectDeltasFhirEverything
      summary: Collect Deltas FHIR Datasets
      description: Returns a FHIR Bundle of changed resources for the patient since the last sync.
      tags:
      - Deltas
      parameters:
      - $ref: '#/components/parameters/particlePatientIdParam'
      responses:
        '200':
          description: FHIR Bundle of changed resources
  /deltas/r4/{resource_type}:
    get:
      operationId: searchDeltasFhirResources
      summary: Search Deltas FHIR Resources
      description: Searches deltas for a specific FHIR resource type.
      tags:
      - Deltas
      parameters:
      - $ref: '#/components/parameters/resourceTypeParam'
      responses:
        '200':
          description: FHIR Bundle of changed resources
  /deltas/r4/{resource_type}/{resource_id}:
    get:
      operationId: readDeltasFhirResource
      summary: Read Deltas FHIR Resource
      description: Reads a specific changed FHIR resource.
      tags:
      - Deltas
      parameters:
      - $ref: '#/components/parameters/resourceTypeParam'
      - $ref: '#/components/parameters/resourceIdParam'
      responses:
        '200':
          description: FHIR resource
  /deltas/flat/{particle_patient_id}:
    get:
      operationId: collectDeltasFlatDatasets
      summary: Collect Deltas Flat Datasets
      description: Returns Flat datasets changed since the supplied `_since` timestamp.
      tags:
      - Deltas
      parameters:
      - $ref: '#/components/parameters/particlePatientIdParam'
      responses:
        '200':
          description: Flat dataset bundle
  /deltas/flat/{particle_patient_id}/{resource_type}/{resource_id}:
    get:
      operationId: getDeltasFlatResource
      summary: Get Deltas Flat Resource
      tags:
      - Deltas
      parameters:
      - $ref: '#/components/parameters/particlePatientIdParam'
      - $ref: '#/components/parameters/resourceTypeParam'
      - $ref: '#/components/parameters/resourceIdParam'
      responses:
        '200':
          description: Flat resource
components:
  parameters:
    particlePatientIdParam:
      name: particle_patient_id
      in: path
      required: true
      description: Particle Patient ID (PPID)
      schema:
        type: string
    resourceTypeParam:
      name: resource_type
      in: path
      required: true
      description: FHIR resource type (Patient, Encounter, Condition, Observation, etc.)
      schema:
        type: string
    resourceIdParam:
      name: resource_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2 client-credentials JWT issued by `/auth`. Token expires after one hour.
externalDocs:
  description: Particle Health API Documentation
  url: https://docs.particlehealth.com/
