openapi: 3.2.0
info:
  title: Particle Health Authentication API
  description: Particle Health is a healthcare data interoperability API that aggregates patient medical records from US health information exchanges (Carequality, CommonWell, eHealth Exchange), TEFCA / QHIN partners, state HIEs, and Surescripts.
  version: v1
  contact:
    name: Particle Health Support
    email: support@particlehealth.com
    url: https://particlehealth.com/contact
  license:
    name: Particle Health Terms of Service
    url: https://particlehealth.com/
servers:
- url: https://api.particlehealth.com
  description: Particle Health Production
security:
- bearerAuth: []
tags:
- name: Authentication
  description: OAuth 2 client-credentials JWT issuance.
paths:
  /auth:
    get:
      operationId: getAuthToken
      summary: Generate a JSON Web Token
      description: Generate a JSON Web Token (JWT) via the OAuth 2 client-credentials grant. The returned token is valid for one hour and must be sent as a Bearer token on subsequent calls.
      tags:
      - Authentication
      security: []
      parameters:
      - name: client_id
        in: header
        required: true
        schema:
          type: string
      - name: client_secret
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JWT access token issued
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2 client-credentials JWT issued by `/auth`. Token expires after one hour.
externalDocs:
  description: Particle Health API Documentation
  url: https://docs.particlehealth.com/
