openapi: 3.1.0
info:
  title: Particle Health Authentication Queries API
  description: Particle Health is a healthcare data interoperability API that aggregates patient medical records from US health information exchanges (Carequality, CommonWell, eHealth Exchange), TEFCA / QHIN partners, state HIEs, and Surescripts. The API surfaces patient registration, asynchronous query orchestration, batch processing, document handling, network participant directory search, patient provider mapping, and real-time Signal alerting. Clinical data is returned in FHIR R4 Bundles, C-CDA documents, Flat datasets, or Deltas (incremental changes). Authentication uses OAuth 2 client-credentials with JWT bearer tokens scoped to a project.
  version: v1
  contact:
    name: Particle Health Support
    email: support@particlehealth.com
    url: https://particlehealth.com/contact
  license:
    name: Particle Health Terms of Service
    url: https://particlehealth.com/
servers:
- url: https://api.particlehealth.com
  description: Particle Health Production
security:
- bearerAuth: []
tags:
- name: Queries
  description: One-time network query orchestration.
paths:
  /api/v2/patients/{particle_patient_id}/query:
    get:
      operationId: getPatientQueryStatus
      summary: Get Query Status
      description: Returns the current state and timestamps for the most recent query for a patient.
      tags:
      - Queries
      parameters:
      - $ref: '#/components/parameters/particlePatientIdParam'
      responses:
        '200':
          description: Query status
    post:
      operationId: createPatientQuery
      summary: Create Query
      description: Starts a one-time query for this Particle Patient ID under a Purpose of Use.
      tags:
      - Queries
      parameters:
      - $ref: '#/components/parameters/particlePatientIdParam'
      responses:
        '202':
          description: Query accepted
  /api/v1/queries:
    get:
      operationId: listQueries
      summary: List Queries
      description: Lists queries you have created.
      tags:
      - Queries
      responses:
        '200':
          description: Query list
    post:
      operationId: createQuery
      summary: Create Query
      description: Starts a one-time network query using demographics.
      tags:
      - Queries
      responses:
        '202':
          description: Query accepted
  /api/v1/queries/{id}:
    get:
      operationId: getQuery
      summary: Get Query
      description: Returns status and result pointers for a query.
      tags:
      - Queries
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Query status
  /r4/Patient/{patient_id}/query:
    get:
      operationId: getFhirPatientQueryStatus
      summary: Get FHIR Patient Query Status
      tags:
      - Queries
      parameters:
      - name: patient_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Query status
    post:
      operationId: createFhirPatientQuery
      summary: Create FHIR Patient Query
      tags:
      - Queries
      parameters:
      - name: patient_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Query accepted
components:
  parameters:
    idParam:
      name: id
      in: path
      required: true
      schema:
        type: string
    particlePatientIdParam:
      name: particle_patient_id
      in: path
      required: true
      description: Particle Patient ID (PPID)
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2 client-credentials JWT issued by `/auth`. Token expires after one hour.
externalDocs:
  description: Particle Health API Documentation
  url: https://docs.particlehealth.com/
