openapi: 3.1.0
info:
  title: Particle Health Authentication Subscriptions API
  description: Particle Health is a healthcare data interoperability API that aggregates patient medical records from US health information exchanges (Carequality, CommonWell, eHealth Exchange), TEFCA / QHIN partners, state HIEs, and Surescripts. The API surfaces patient registration, asynchronous query orchestration, batch processing, document handling, network participant directory search, patient provider mapping, and real-time Signal alerting. Clinical data is returned in FHIR R4 Bundles, C-CDA documents, Flat datasets, or Deltas (incremental changes). Authentication uses OAuth 2 client-credentials with JWT bearer tokens scoped to a project.
  version: v1
  contact:
    name: Particle Health Support
    email: support@particlehealth.com
    url: https://particlehealth.com/contact
  license:
    name: Particle Health Terms of Service
    url: https://particlehealth.com/
servers:
- url: https://api.particlehealth.com
  description: Particle Health Production
security:
- bearerAuth: []
tags:
- name: Subscriptions
  description: Patient subscription management for Signal.
paths:
  /api/v1/patients/{particle_patient_id}/subscriptions:
    get:
      operationId: listPatientSubscriptions
      summary: List Patient Subscriptions
      description: Lists subscriptions for a patient with an optional type filter.
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/particlePatientIdParam'
      responses:
        '200':
          description: Subscription list
    post:
      operationId: createPatientSubscriptions
      summary: Create Patient Subscriptions
      description: Adds subscriptions for a single patient.
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/particlePatientIdParam'
      responses:
        '201':
          description: Subscription created
    delete:
      operationId: deletePatientSubscriptions
      summary: Delete Patient Subscriptions
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/particlePatientIdParam'
      responses:
        '204':
          description: Subscriptions deleted
  /api/v1/patients/subscriptions:
    post:
      operationId: createCohortSubscriptions
      summary: Create Subscriptions for Multiple Patients
      description: Subscribe a batch of patients to Signal monitoring in a single API call.
      tags:
      - Subscriptions
      responses:
        '201':
          description: Cohort subscriptions created
  /api/v1/patients/{particle_patient_id}/subscriptions/trigger-sandbox-workflow:
    post:
      operationId: triggerSandboxWorkflow
      summary: Trigger Sandbox Workflow
      description: Triggers sandbox webhook notification events for testing.
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/particlePatientIdParam'
      responses:
        '202':
          description: Sandbox workflow triggered
components:
  parameters:
    particlePatientIdParam:
      name: particle_patient_id
      in: path
      required: true
      description: Particle Patient ID (PPID)
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2 client-credentials JWT issued by `/auth`. Token expires after one hour.
externalDocs:
  description: Particle Health API Documentation
  url: https://docs.particlehealth.com/
