openapi: 3.1.0
info:
  title: Particle Health Authentication Batches API
  description: Particle Health is a healthcare data interoperability API that aggregates patient medical records from US health information exchanges (Carequality, CommonWell, eHealth Exchange), TEFCA / QHIN partners, state HIEs, and Surescripts. The API surfaces patient registration, asynchronous query orchestration, batch processing, document handling, network participant directory search, patient provider mapping, and real-time Signal alerting. Clinical data is returned in FHIR R4 Bundles, C-CDA documents, Flat datasets, or Deltas (incremental changes). Authentication uses OAuth 2 client-credentials with JWT bearer tokens scoped to a project.
  version: v1
  contact:
    name: Particle Health Support
    email: support@particlehealth.com
    url: https://particlehealth.com/contact
  license:
    name: Particle Health Terms of Service
    url: https://particlehealth.com/
servers:
- url: https://api.particlehealth.com
  description: Particle Health Production
security:
- bearerAuth: []
tags:
- name: Batches
  description: Batch query orchestration over patient cohorts.
paths:
  /api/v1/batches:
    get:
      operationId: listBatches
      summary: List Batches
      description: Lists batch jobs with state, type, and counts.
      tags:
      - Batches
      responses:
        '200':
          description: Batch list
  /api/v1/batches/{batch_type}:
    post:
      operationId: createBatch
      summary: Create Batch
      description: Starts a batch job of type CCDA, FHIR_R4, FLAT, or DELTAS over a patient cohort.
      tags:
      - Batches
      parameters:
      - name: batch_type
        in: path
        required: true
        schema:
          type: string
          enum:
          - CCDA
          - FHIR_R4
          - FLAT
          - DELTAS
      responses:
        '202':
          description: Batch accepted
  /api/v1/batches/{batch_id}:
    get:
      operationId: getBatch
      summary: Get Batch
      description: Returns batch metadata, progress, and results summary.
      tags:
      - Batches
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Batch status
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2 client-credentials JWT issued by `/auth`. Token expires after one hour.
externalDocs:
  description: Particle Health API Documentation
  url: https://docs.particlehealth.com/
