openapi: 3.1.0
info:
  title: Particle Health Authentication Files API
  description: Particle Health is a healthcare data interoperability API that aggregates patient medical records from US health information exchanges (Carequality, CommonWell, eHealth Exchange), TEFCA / QHIN partners, state HIEs, and Surescripts. The API surfaces patient registration, asynchronous query orchestration, batch processing, document handling, network participant directory search, patient provider mapping, and real-time Signal alerting. Clinical data is returned in FHIR R4 Bundles, C-CDA documents, Flat datasets, or Deltas (incremental changes). Authentication uses OAuth 2 client-credentials with JWT bearer tokens scoped to a project.
  version: v1
  contact:
    name: Particle Health Support
    email: support@particlehealth.com
    url: https://particlehealth.com/contact
  license:
    name: Particle Health Terms of Service
    url: https://particlehealth.com/
servers:
- url: https://api.particlehealth.com
  description: Particle Health Production
security:
- bearerAuth: []
tags:
- name: Files
  description: Query result file download.
paths:
  /api/v1/files/{query_id}/{file_id}:
    get:
      operationId: downloadFile
      summary: Download a File
      description: Download an individual file from a query result.
      tags:
      - Files
      parameters:
      - name: query_id
        in: path
        required: true
        schema:
          type: string
      - name: file_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: File contents
  /api/v1/files/{query_id}/zip:
    get:
      operationId: downloadQueryZip
      summary: Download Query Zip
      description: Download a zipped archive of all results for a query.
      tags:
      - Files
      parameters:
      - name: query_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Zip archive
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2 client-credentials JWT issued by `/auth`. Token expires after one hour.
externalDocs:
  description: Particle Health API Documentation
  url: https://docs.particlehealth.com/
